@import '../../styles/colors';

.page {
  background: $global-background;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $global-text;

  min-width: 320px;
  margin: 0 auto;
}
