@import '../../styles/colors';
@import '../../styles/shared';

.form {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  min-height: 60vh;

  &__container {
    min-height: 266px;
  }

  &__button {
    @include link-shared;
    @extend %default-link-effects;

    background-color: $accent;
    color: inherit;

    border: 1px solid #000;
    outline: none;
    border-radius: 3px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    padding: 13px 0;

    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &:first-child {
      margin-top: 0;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    &:disabled {
      opacity: 0.2;

      border-color: #fff;

      background-color: transparent;
    }
  }
}
