@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/landing';
@import '../../../styles/gaps';

$aboutproject-section-offset: 110px;

.aboutproject {
  @include default-padding-landing;

  padding: {
    top: $aboutproject-section-offset;
    bottom: $aboutproject-section-offset;
  }

  font-size: 0;

  &__title {
    @include landing-heading;
  }

  &__columns {
    @include reset-list-style;
    @include default-gap-medium;

    display: grid;
    grid-auto-flow: column;

    padding: {
      top: 70px;
      bottom: $aboutproject-section-offset;
    }
  }

  &__heading {
    @include heading-shared;

    font-size: 20px;
    line-height: 24px;
    @include default-letter-spacing;
  }

  &__text {
    @include landing-text;
  }

  &__plan {
    @include reset-list-style;

    width: 100%;
    display: flex;

    &-segment {
      display: grid;
      gap: 14px;

      &:first-of-type {
        flex-grow: 1;

        .aboutproject__plan-heading {
          background-color: $main-1;
          color: $landing-button;
        }
      }
      &:last-of-type {
        flex-grow: 4;

        .aboutproject__plan-heading {
          background-color: $landing-shapes;
        }
      }
    }

    &-heading {
      @include landing-list-item-small;

      min-height: 36px;

      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 121%;
      text-align: center;
      color: $font-2;

      margin: 0;
    }
  }
}
