@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/landing';
@import '../../../styles/gaps';

.aboutproject {
  padding: 110px 70px;
  font-size: 0;

  &__title {
    @include landing-heading;
  }

  &__columns {
    @include default-gap-medium;

    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    padding: 70px 0 110px;
  }

  &__heading {
    @include heading-shared;

    font-size: 20px;
    line-height: 24px;
    @include default-letter-spacing;
  }

  &__text {
    @include landing-text;
  }

  &__plan {
    padding: 0;
    width: 100%;
    display: flex;

    &-segment {
      display: grid;
      gap: 14px;

      &:first-of-type {
        flex-grow: 1;

        .aboutproject__plan-heading {
          background-color: $main-1;
          color: $landing-button;
        }
      }
      &:last-of-type {
        flex-grow: 4;

        .aboutproject__plan-heading {
          background-color: $landing-shapes;
        }
      }
    }

    &-heading {
      @include landing-list-item-small;

      min-height: 36px;

      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 121%;
      text-align: center;
      color: $font-2;

      margin: 0;
    }
  }
}
