$main-1: #3ddc84;
$landing-button: #000;

$switch-disabled: #343434;
$switch-disabled-cap: #a0a0a0;

$landing-1: #272727;
$landing-shapes: #303030;

$font-2: #8b8b8b;

$stroke-landing: #dadada;
$stroke-2: #424242;

$promo-only: #073042;
$global-background: #202020;
$global-text: #fff;

$error: #ee3465;
$accent: #4285f4;
