@mixin link-shared {
  color: inherit;
  text-decoration-line: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin heading-shared {
  font-weight: normal;
  margin: 0;
}

@mixin reset-list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%default-link-effects {
  transition-property: opacity, transform;
  transition-duration: 0.2s;

  &:active {
    transform: scale(0.85);
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}

%default-link-effects-notransform {
  &:active {
    transform: unset;
  }
}

$_default-padding-landing: 70px;
%default-padding-landing {
  padding: {
    left: $_default-padding-landing;
    right: $_default-padding-landing;
  }
}

$_default-padding: 70px;
%default-padding {
  padding: {
    left: $_default-padding;
    right: $_default-padding;
  }
}
