@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/landing';

.portfolio {
  padding: 0 70px calc(125px - 20px);

  &__title {
    @include heading-shared;
    @include aboutme-subheading;

    color: $font-2;
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 30px 0 0;

    &-item {
      padding: 20px 0;
      box-sizing: border-box;
      border-bottom: 1px solid $stroke-2;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__link {
    @include link-shared;
    @include default-letter-spacing;

    display: block;
    position: relative;

    font-size: 30px;
    line-height: 167%;

    &::after {
      position: absolute;
      right: 0;

      content: '↗';
      line-height: 200%;
    }
  }
}
