@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/landing';

.techs {
  padding: 100px 70px;
  background-color: $landing-1;

  &__title {
    @include landing-heading;
  }

  &__content {
    padding-top: 90px;
  }

  &__heading {
    @include heading-shared;

    font-size: 50px;
    line-height: 116%;
    text-align: center;
    letter-spacing: -0.04em;
  }

  &__text {
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: -0.04em;

    margin: 0;
    padding: 26px 0 100px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(87px, auto));
    justify-content: center;
    gap: 10px;

    &-item {
      font-size: 14px;
      line-height: 17px;

      text-align: center;
      letter-spacing: -0.04em;
      background-color: $landing-shapes;

      padding: 21px 0;
      border-radius: 10px;
    }
  }
}
