@import '../../../styles/shared';
@import '../../../styles/colors';

.navtab {
  background-color: $landing-1;

  min-height: 70px;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  position: sticky;
  top: 0;
  z-index: 1;

  &__link {
    @include link-shared;

    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
  }
}
