@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/gaps';
@import '../../../styles/landing';

.navtab {
  background-color: $landing-1;

  min-height: 70px;

  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 1;

  &__links {
    @include reset-list-style;
    @include default-gap-medium;

    @media screen and (max-width: $breakpoint-mobile) {
      gap: 24px;
    }

    display: flex;
    align-items: center;
  }

  &__link {
    @include link-shared;
    text-decoration-line: underline;

    font-weight: 500;
    font-size: $default-font-size-links;
    line-height: 123%;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 11px;
      line-height: 145%;
    }

    &-container {
      @extend %default-link-effects;
    }
  }
}
