@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/gaps';

.navtab {
  @include default-gap-medium;

  background-color: $landing-1;

  min-height: 70px;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 1;

  &__link {
    @include link-shared;

    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
  }
}
