@import '../../styles/shared';
@import '../../styles/colors';
@import '../../styles/gaps';
@import '../../styles/landing';

$footer-padding: 20px;

.footer {
  @include default-padding;

  padding-top: 79px;

  &__title {
    @include heading-shared;

    font-size: $default-font-size-links;
    line-height: 16px;
    text-align: center;

    color: $font-2;
    padding-bottom: $footer-padding;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    padding: $footer-padding 0;

    border-top: 1px solid $stroke-2;
  }

  &__link {
    @include link-shared;
  }

  &__links {
    @include default-gap-small;

    display: flex;
  }
}

@include default-link-effects('.footer__link');
