@import '../../../styles/shared';
@import '../../../styles/colors';

.promo {
  background: {
    color: $promo-only;
    image: url('../../../images/landing-logo.svg');
    repeat: no-repeat;
    position: center;
  }

  height: 100vh;
  min-height: 598px;
  max-height: 858px;
  padding: 0 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    @include heading-shared;

    font-size: 50px;
    line-height: 116%;
    text-align: center;
    letter-spacing: -0.04em;

    max-width: 730px;
  }
}
