@import '../../../styles/shared';
@import '../../../styles/colors';
@import '../../../styles/landing';

.promo {
  @include default-padding-landing;

  background: {
    color: $promo-only;
    image: url('../../../images/landing-logo.svg');
    repeat: no-repeat;
    position: center;
  }

  height: 100vh;
  min-height: 598px;
  max-height: 858px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    @include landing-title;

    text-align: center;
    max-width: 730px;
  }
}
