@import '../../../styles/shared';
@import '../../../styles/colors';

.aboutme {
  padding: 110px 70px 100px;

  &__title {
    @include heading-shared;

    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;

    padding-bottom: 23px;
    border-bottom: 1px solid $stroke-landing;
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding-top: 66px;
  }

  &__image {
    max-width: 270px;
    max-height: 327px;

    border-radius: 10px;
  }

  &__student {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 600px;
  }

  &__heading {
    @include heading-shared;

    font-size: 50px;
    line-height: 116%;
    letter-spacing: -0.04em;
  }

  &__subheading {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;

    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__links {
    display: flex;
    gap: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__link {
    @include link-shared;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
