@import '../../styles/colors';
@import '../../styles/shared';

.auth {
  margin: 0 auto;

  width: 396px;
  max-width: 100%;

  padding: 70px 0;

  @media screen and (max-width: $breakpoint-mobile) {
    max-width: calc(100% - 30px * 2);

    padding-top: 56px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
  }

  &__logo {
    max-height: 38px;

    @media screen and (max-width: $breakpoint-mobile) {
      margin: 0 auto;
    }
  }

  &__title {
    margin: 40px 0 40px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    @media screen and (max-width: $breakpoint-mobile) {
      text-align: center;

      margin-top: 50px;
      margin-bottom: 80px;
    }
  }

  &__label {
    margin: 0 0 10px;

    font-size: 10px;
    line-height: 12px;

    color: $font-2;
  }

  &__signin {
    font-size: 14px;
    line-height: 17px;

    margin: 16px 0;
    text-align: center;

    color: $font-2;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 12px;
      line-height: 15px;
    }

    &-link {
      @include link-shared;
      @extend %default-link-effects;

      color: $accent;
    }
  }
}
